<div class="full-screen">
  <div class="d-flex-column">
    <h1 style="font-size: 4em;">🎲</h1>
    <br>
    <h3>Seja bem-vindo ao seu desafio!</h3>
    <br>
    <p class="w-50 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus earum facere fuga ullam, officia maxime, consequuntur id reprehenderit nesciunt aut sequi deserunt inventore! Impedit, minus a dolor necessitatibus non nihil?</p>
    <br>
    <button type="button" class="btn btn-dark" routerLink="/puzzles">Iniciar</button>
    <br>
  </div>
</div>
